body {
  font-family: Helvetica, Arial, sans-serif;
}

#num-1,
#num-2 {
  height: 95vh;
  width: 48%;
  min-width: 280px;
  float: left;
  border: 2px black solid;
  margin: auto 2px;
  overflow: scroll;
  margin: 10px 10px;
}

.odd-box,
.even-box {
  float: left;
  height: 75px;
  width: 75px;
  padding: 20px;
  text-align: center;
  border: 1px red solid;
  margin: 5px;
  align-content: center;
}

.odd-box:hover,
.even-box:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
  color: green;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
